body, html {
    font-family: 'Raleway', sans-serif;
}


/* header .logo {
    float: left;
} */
.logo:nth-child(1) {
    display: flex;
    justify-content: flex-start;
}
.bar-menu:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
}



/* #hebergement {
    color: #0065FC;
    border-top: solid 1px;
    padding-top: 2.5em;
    padding-left: 1em;
    padding-right: 1em;
}
#sinscrire {
    color: #0065FC;
    font-weight: bold;
}
#activite {
    color: black;
} */

#titre1 {
    font-size: large;
    margin-bottom: 0.3em;
}
#titre2 {
    margin-top: 0;
}
.moteur-recherche {
    border-radius: 50px;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    display: inline-block;
}
.fa-map-marker-alt {
    padding: 1em;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#champs-recherche {
    border: none;
}
input {
    font-weight: bold
}
#bouton-recherche {
    padding: 1.3em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    border: none;
    color: white;
}
i.fa-search {
    display: none;
}

#filtres {
    display: inline-block;
    font-weight: bold;
}
.filtres-liste {
    display: inline-block;
}
.filtres-liste > li {
    display: inline-block;
    list-style: none;
    /* margin-right: 1em; */
}
.bouton-filtre {
    border: none;
    background-color: transparent;
    font-weight: bold;
    margin-right: 0.5em;
}
.filtre {
    border-radius: 50px;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-right: solid #F2F2F2 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.icone {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 0.6em;
    border-radius: 50px;
    
}


.fa-info {
    border: solid 1px #F2F2F2;
    padding: 0.5em;
    border-radius: 50px;
    color: #0065FC;
}

.section1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
    

}
.titre-article {
    padding-left: 1.5em;
}
.hebergements {
    background-color: #F2F2F2;
    /* margin-right: 2em;  */
    border-radius: 15px;
}
.offres { /* peut etre je doit definir l'hauteur en pourcentage */
    height: 100%;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around;        
}
.offre-hotel { /* taille en pourcentage de moins 33% (largeur) 45% (hauteur) */
    width: 28%;
    height: 27%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.3em;
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(128, 128, 128, 0.5);
}
.image-hebergements { /* taille en pourcentage 55% (hauteur) */
    height: 55%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.titre-offre {
    font-weight: bold;
    margin-bottom: 0.3em;
    /* margin-top: 0.3em; */
}
.nuit-prix {
    margin-top: 0;
}
.prix {
    font-weight: bold;
}
#afficher-plus:nth-child(7) {
    font-weight: bold;
    padding-left: 1.5em;
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}
/* .description {
    padding-left: 1em;
    padding-top: 1em;
} */
.bleu {
    color: #0065FC;
}
.gris {
    color: #F2F2F2;
}

.populaires {
    background-color: #F2F2F2; 
    border-radius: 15px;
}
.offres2 {
    height: 85%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
}
.populaires-header {
    display: flex;
    justify-content: space-between;
}
.fa-chart-line:nth-child(2) {
    align-self: flex-end;
    padding-right: 1.5em;
}
.offre-hotel-2 { /* definir la taille (hauteur de moins 33%) */
    height: 30%;
    width: 85%;
    display: flex;
    background-color: white;
    padding: 0.3em; 
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(128, 128, 128, 0.5);
}
.image-populaires {
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.note {
    display: flex;
    flex-direction: column;
}
.etoiles:nth-child(2) {
    align-self: flex-end;
}
    


.activites {
    padding-bottom: 4em;  
    height: 600px;
}
.fiches { /* definir heuteur 90% et peut etre ajouter l'hauteur (et la largeur) de colonne */
    height: 100%;
    display: flex;
    flex-wrap: wrap;  
    align-items: flex-start;
    justify-content: space-between; 
}
/* .column {
    height: 100%;
    width: 23%;
    
} */
.column-petit {
    height: 100%;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.column-grand {
    height: 100%;
    width: 23%;
    
}
.fiche-grand { 
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 20px rgba(128, 128, 128, 0.5);
    border-radius: 15px;
}
.fiche-petit {
    height: 39%;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 20px rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    /* margin-bottom: 3em; */
    padding-bottom: 2em;
}
.image-activite {
    height: 90%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.titre-activite {
    font-weight: bold;
    padding-left: 1em; 
    /* border: solid; */
}


footer {
    display: flex;
    background-color: #F2F2F2;
    
}
.liste {
    flex: 1;
    line-height: 1.5;
}
.titre-footer {
    font-weight: bold;
    line-height: 2.5;
}

li {
    list-style: none;
}

@media screen and (max-width: 40em) {
    .contenu {
        margin: 0em;   
    }
    /* .logo {
        display: inline-block; 
        position: absolute;
        float: left;
    } */
    .menu {
        display: flex;
        flex-wrap: wrap-reverse;
        
    } 
    /* .menu1:nth-child(1) {
        justify-self: flex-start;
       
    } */
    /* .menu2:nth-child(2) {
        order: 3;
    }
    .menu3:nth-child(3) {
        order: 1;
        position: relative;
        display: inline;
        margin-left: 40px;
    } */

    #hebergement {
        border-bottom: solid 1px;
        border-top: none;
        padding: 0em 3em ;
        
    }
    #activite {
        border-bottom: solid 1px;
        padding: 0em 3em ;
    }
    
    #bouton-recherche {
        display: none;
    }
    i.fa-search {
        display: inline-block;
        color: white;
        background-color: #0065FC;
        padding: 1em;
        border-radius: 15px;
    }
    ul.filtres-liste {
        padding: 0;
    }
    .fa-info {
        float: left;
    }

    .section1 {
        display: flex;
        flex-direction: column;
    }
    .offres {
        display: flex;
        flex-direction: column;
    }
    .aside:nth-child(2) {
        order: 1;
    }
    .hebergements:nth-child(1) {
        order: 2;
    }
    .offre-hotel { 
        width: 98%;
        height: 14em;
    }
    .offre-hotel-2 { 
        width: 90%;
        height: 9em;
    }
    .populaires {
        border-radius: 0px;
    }
    .hebergements {
        background-color: white;
    }


    
    .fiches {
        display: flex;
        flex-direction: column;
    }
    .column {
        height: 8em;
        width: 95%;
    }
    /* .column-petit {
        display: flex;
        flex-direction: column;
        
    } */
    .fiche-grand { 
        height: 5em;
        display: flex;
        flex-direction: column;
        box-shadow: 6px 6px 20px rgba(128, 128, 128, 0.5);
        border-radius: 15px;
    }
    .fiche-petit {
        height: 5em;
        display: flex;
        flex-direction: column;
        box-shadow: 6px 6px 20px rgba(128, 128, 128, 0.5);
        border-radius: 15px;
        /* margin-bottom: 3em;
        padding-bottom: 2em; */
    }
    /* .image-activite {
        height: 90%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    } */
    

    footer {
        display: flex;
        flex-direction: column;
    }