body, html {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
	margin: auto;
}
header, section {
    margin: 2em;
}
h1 {
    font-size: large;
}
h1, #sinscrire, input, #filtres, .bouton-filtre, .titre-offre, .prix, #afficher-plus, .titre-activite, .titre-footer {
    font-weight: bold
}
li {
    list-style: none;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.menu {
    display: flex;
}
.menu-2-elements {
    display: flex;
    margin-right: 40px;
}
.menu-2-elements a {
    padding: 0 25px 0 25px;
}
.element:hover {
    color: #0065FC;
    border-top: solid 1px;
    padding-top: 30px;
    margin-top: -30px;
}
#sinscrire {
    color: #0065FC;
}
/* #hebergement:nth-child(1) {
    align-self: flex-end;
}
#activite:nth-child(2) {
    align-self: flex-end;
}
.menu-1-element:nth-child(3) {
    align-self: flex-end;
    align-self: center;
} */


#titre1 {
    margin-bottom: 0.3em;
}
#titre2 {
    margin-top: 0;
}
.moteur-recherche {
    border-radius: 50px;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    display: inline-block;
}
.fa-map-marker-alt {
    padding: 1em;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#champs-recherche {
    border: none;
}
#bouton-recherche {
    padding: 1.3em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    border: none;
    color: white;
}
i.fa-search {
    display: none;
}

#filtres, .filtres-liste, .filtres-liste li {
    display: inline-block;
}
#filtres {
    margin-top: 35px;
    margin-bottom: 0;
}
.bouton-filtre {
    border: none;
    background-color: transparent;
    margin-right: 0.5em;
}
.filtre {
    border-radius: 50px;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-right: solid #F2F2F2 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.icone {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 0.6em;
    border-radius: 50px;
}
.filtre:hover {
    background-color: #F2F2F2;
}
.info {
    display: flex;
    align-items: baseline;
}
.fa-info {
    border: solid 1px #F2F2F2;
    padding: 0.5em;
    border-radius: 50px;
    color: #0065FC;
    padding: 5px 10px;
    margin-right: 10px;
}
.section-2-articles {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
}
.titre-en-padding {
    padding-left: 1.5em;
}
.hebergements {
    height: 700px;
    background-color: #F2F2F2;
    border-radius: 15px;
}
.offres { /* peut etre je doit definir l'hauteur en pourcentage */
    height: 85%;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around;        
}
.offre-hotel { /* taille en pourcentage de moins 33% (largeur) 45% (hauteur) */
    width: 28%;
    height: 40%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.3em;
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(128, 128, 128, 0.5);
}
.image-hebergements { /* taille en pourcentage 55% (hauteur) */
    height: 55%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.titre-offre {
    margin-bottom: 0.3em;
    /* margin-top: 0.3em; */
}
.nuit-prix {
    margin-top: 0;
}
#afficher-plus {
    margin: 0;
    padding-left: 1.5em;
}
a {
    text-decoration: none;
    color: black;
}
.description, .etoiles {
    padding-left: 10px;
}
.bleu {
    color: #0065FC;
}
.gris {
    color: #F2F2F2;
}

.populaires {
    height: 700px;
    background-color: #F2F2F2; 
    border-radius: 15px;
}
.offres2 {
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
}
.populaires-header {
    display: flex;
    justify-content: space-between;
}
.fa-chart-line:nth-child(2) {
    align-self: center;
    padding-right: 1.5em;
}
.offre-hotel-2 { /* definir la taille (hauteur de moins 33%) */
    height: 30%;
    width: 85%;
    display: flex;
    background-color: white;
    padding: 0.3em; 
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(128, 128, 128, 0.5);
}
.image-populaires {
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    
.activites {
    /* padding-bottom: 4em;   */
    height: 600px;
}
.fiches { /* definir heuteur 90% et peut etre ajouter l'hauteur (et la largeur) de colonne */
    height: 90%;
    display: flex;
    justify-content: space-between; 
}
.column-petit {
    height: 100%;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.column-grand {
    height: 100%;
    width: 23%;
}
.fiche-grand { 
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 20px rgba(128, 128, 128, 0.5);
    border-radius: 15px;
}
.fiche-petit {
    height: 39%;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 20px rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    /* margin-bottom: 3em; */
    padding-bottom: 2em;
}
.image-activite {
    height: 90%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.titre-activite {
    padding-left: 1em; 
    /* border: solid; */
}


footer {
    display: flex;
    background-color: #F2F2F2;
}
.liste {
    flex: 1;
    line-height: 1.5;
}
.titre-footer {
    line-height: 2.5;
}



@media screen and (max-width: 768px) {
    .section-2-articles {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .populaires {
        height: 250px;
    }
    .offres2 {
        flex-direction: row;
        align-items: flex-start;
    }
    .offre-hotel-2 {
        width: 30%;
        height: 70%;
    }
    p {
        font-size: smaller;
    }
}

@media screen and (max-width: 414px) {
    /* header, section {
        margin-left: 0;
        margin-right: 0; 
    } */
    footer, .populaires {
        margin-left: 0;
        margin-right: 0; 
    }
    /* .logo {
        display: inline-block; 
        position: absolute;
        float: left;
    } */
    .menu {
        flex-direction: column-reverse;
        width: 100%;
        align-items: flex-end;
        
    } 
    .menu-2-elements {
        justify-content: space-around;
        width: 100%;
        margin-right: auto; 
    }
    .menu-2-elements a {
        padding: 0 25px 10px 25px;
    }
    .element {
        border-bottom: 2px solid #F2F2F2;
        width: 100%;
        text-align: center;
        margin: 0 -40px 0 -130px;
    }
    .element:hover {
        border-bottom: 2px solid #0065FC;
    }
    .menu-1-element {
        margin-bottom: 30px;
    }
    .logo {
        margin-bottom: 65px;
    }
    #heb {
        padding-right: 80px;
    }
    #act {
        padding-left: 80px;
    }
    /* .menu1:nth-child(1) {
        justify-self: flex-start;
       
    } */
    /* .menu2:nth-child(2) {
        order: 3;
    }
    .menu3:nth-child(3) {
        order: 1;
        position: relative;
        display: inline;
        margin-left: 40px;
    } */

    
    #titre2 {
        margin-top: 0;
        margin-bottom: 30px;
    }
    #bouton-recherche {
        display: none;
    }
    i.fa-search {
        display: inline-block;
        color: white;
        background-color: #0065FC;
        padding: 1em;
        border-radius: 15px;
    }
    ul.filtres-liste {
        padding: 0;
    }
    ul.filtres-liste > li {
        margin-bottom: 1em;
    }

    .titre-en-padding {
        padding-left: 0;
    }
    .hebergements {
        height: auto;
        background-color: white;
    }
    .offres {
        /* flex-direction: column; */
        margin-top: 1em;
    }
    .offre-hotel { 
        width: 100%;
        margin-bottom: 1em;
    }
    .image-hebergements {
        height: 8em;
    }
    
    .populaires {
        height: auto;
        border-radius: 0px;
        margin-left: -2em;
        margin-right: -2em;
    }
    .offres2 {
        height: auto;
        justify-content: center;
    }
    .offre-hotel-2 { 
        width: 80%;
        margin-bottom: 1em;
    }
    .image-populaires {
        height: 8em;
    }
    #populaires {
        padding-left: 10%;
    }
    
    

    .activites {
        height: auto;
    }
    .fiches {
        flex-direction: column;
        height: auto;
    }
    .column-grand {
        width: 100%;
        margin-bottom: 1em;
    }
    .column-petit {
        width: 100%;
        
    } 
    .fiche-grand { 
        height: 100%;
    }
    .fiche-petit {
        height: auto;
        padding-bottom: 0;
        margin-bottom: 1em;
    }
    .image-activite {
        height: 8em;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}

