body, html {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
	margin: auto;
}
header, section {
    margin: 2em;
}
h1 {
    font-size: large;
}
h2 {
    font-size: medium;
}
h1, h2, .sinscrire, input, #filtres, .bouton-filtre, .titre-offre, .prix, .titre-activite, .titre-footer {
    font-weight: bold
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}




header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.menu {
    display: flex;
}
nav ul {
    display: flex;
    align-items: center;
}
nav a {
    padding-left: 2em;
    padding-right: 2em;
}
.sinscrire {
    display: flex;
    align-items: center;
    color: #0065FC;
    padding-left: 2em;
}
nav a:hover {
    color: #0065FC;
    border-top: solid 1px;
    padding-top: 30px;
    margin-top: -30px;
}


#titre1 {
    margin-bottom: 0.3em;
}
#titre2 {
    margin-top: 0;
}
.moteur-recherche {
    border-radius: 50px;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    display: inline-block;
}
.fa-map-marker-alt {
    padding: 1em;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#champs-recherche {
    border: none;
}
#bouton-recherche {
    padding: 1.3em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    border: none;
    color: white;
}
i.fa-search {
    display: none;
}

#filtres, .filtres-liste, .filtres-liste li {
    display: inline-block;
}
#filtres {
    margin-top: 35px;
    margin-bottom: 0;
}
.bouton-filtre {
    border: none;
    background-color: transparent;
    margin-right: 0.5em;
}
.filtre {
    border-radius: 50px;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-right: solid #F2F2F2 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.icone {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 0.6em;
    border-radius: 50px;
}
.filtre:hover {
    border: 2px 2px 2px 0px;
    border-color: #0065FC;
}
.info {
    display: flex;
    align-items: baseline;
}
.fa-info {
    border: solid 1px #F2F2F2;
    padding: 0.5em;
    border-radius: 50px;
    color: #0065FC;
    padding: 5px 10px;
    margin-right: 10px;
}
.section-2-articles {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
}
.titre-en-padding {
    padding-left: 1.5em;
}
.hebergements {
    height: 700px;
    background-color: #F2F2F2;
    border-radius: 15px;
}
.offres { 
    height: 85%;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around;        
}
.offre-hotel { 
    width: 28%;
    height: 40%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.3em;
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(128, 128, 128, 0.5);
}
.image-hebergements { 
    height: 55%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.titre-offre {
    margin-bottom: 0.3em;
}
.nuit-prix {
    margin-top: 0;
}
#afficher-plus {
    margin: 0;
    padding-left: 1.5em;
}
.description, .etoiles {
    padding-left: 10px;
}
.bleu {
    color: #0065FC;
}
.gris {
    color: #F2F2F2;
}

.populaires {
    height: 700px;
    background-color: #F2F2F2; 
    border-radius: 15px;
}
.offres2 {
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
}
.populaires-header {
    display: flex;
    justify-content: space-between;
}
.fa-chart-line:nth-child(2) {
    align-self: center;
    padding-right: 1.5em;
}
.offre-hotel-2 { 
    height: 30%;
    width: 85%;
    display: flex;
    background-color: white;
    padding: 0.3em; 
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(128, 128, 128, 0.5);
}
.image-populaires {
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    
.activites {
    height: 600px;
}
.fiches { 
    height: 90%;
    display: flex;
    justify-content: space-between; 
}
.column-petit {
    height: 100%;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.column-grand {
    height: 100%;
    width: 23%;
}
.fiche-grand { 
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 20px rgba(128, 128, 128, 0.5);
    border-radius: 15px;
}
.fiche-petit {
    height: 39%;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 20px rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    padding-bottom: 2em;
}
.image-activite {
    height: 90%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.titre-activite {
    padding-left: 1em; 
}


footer {
    display: flex;
    background-color: #F2F2F2;
}
.liste {
    flex: 1;
    line-height: 1.5;
}
.titre-footer {
    line-height: 2.5;
}
@media all and (min-width: 769px) and (max-width: 1024px) {
    .section-2-articles {
        grid-gap: 1em;
    }
    .offre-hotel {
        width: 45%;
        height: 30%;
    }
    p {
        font-size: smaller;
    }
    #afficher-plus {
        margin-top: 1em;
    }
    .fiche-grand {
        height: 65%;
        margin-top: 5em;
    }
    .fiche-petit {
        padding-bottom: 1em;
    }
    .image-activite {
        height: 85%;
    }
}

@media screen and (max-width: 768px) {
    header, section {
        margin: 1em;
    }
    .section-2-articles {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .activites {
        margin-top: 2em;
    }
    .offre-hotel {
        width: 45%;
        height: 30%;
    }
    #afficher-plus {
        margin-top: 1em;
    }
    .populaires {
        height: 250px;
    }
    .offres2 {
        flex-direction: row;
        align-items: flex-start;
    }
    .offre-hotel-2 {
        width: 30%;
        height: 70%;
    }
    p {
        font-size: smaller;
    }
    .fiche-grand {
        height: 65%;
        margin-top: 5em;
    }
    .fiche-petit {
        padding-bottom: 1em;
    }
    .image-activite {
        height: 85%;
    }
}
@media screen and (min-width: 415px) and (max-width: 662px) {
    header {
        display: block;
        width: 100%;
        margin: 0;
    } 
    header img {
        display: block;
        margin: 15px
    } 
    nav {
        width: 90%;
        margin: auto; 
    }
    nav a {
        display: block;
        text-align: center;
        padding: 0px 0px 20px 0px;
        border-bottom: 1px solid grey;
    }
    .sinscrire {
        position: absolute;
        top: 2em;
        right: 1.5em;
    }
    nav ul {
        padding-left: 0px;
    }
    nav li {
        width: 50%;
    }
    nav a:hover{
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }
    .hebergements {
        background-color: white;
    }
    #activites {
        padding-left: 1.5em;
    }
    .offre-hotel {
        width: 45%;
        height: 30%;
    }
    #afficher-plus {
        margin-top: 1em;
    }
    .populaires {
        height: auto;
        border-radius: 0px;
        margin-left: -2em;
        margin-right: -2em;
    }
    .offres2 {
        height: auto;
        justify-content: center;
    }
    .offre-hotel-2 { 
        width: 80%;
        margin-bottom: 1em;
    }
    .image-populaires {
        height: 8em;
    }
    #populaires {
        padding-left: 10%;
    }

    .activites {
        height: auto;
    }
    .fiches {
        flex-direction: column;
        height: auto;
    }
    .column-grand {
        width: 90%;
        align-self: center;
        margin-bottom: 1em;
    }
    .column-petit {
        width: 90%;
        align-self: center;
    } 
    .fiche-grand { 
        height: 100%;
        margin-top: auto;
    }
    .fiche-petit {
        height: auto;
        padding-bottom: 0;
        margin-bottom: 1em;
    }
    .image-activite {
        height: 8em;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 414px) {
    footer, .populaires {
        margin-left: 0;
        margin-right: 0; 
    }
    header {
        display: block;
        width: 100%;
        margin: 0;
    } 
    header img {
        display: block;
        margin: 15px
    } 
    nav {
        width: 100%; 
    }
    nav a {
        display: block;
        text-align: center;
        padding: 0px 0px 20px 0px;
        border-bottom: 1px solid grey;
    }
    .sinscrire {
        position: absolute;
        top: 2em;
        right: 1.5em;
    }
    nav ul {
        padding-left: 0px;
    }
    nav li {
        width: 50%;
    }
    nav a:hover{
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }
    
    #titre2 {
        margin-top: 0;
        margin-bottom: 30px;
    }
    #bouton-recherche {
        display: none;
    }
    i.fa-search {
        display: inline-block;
        color: white;
        background-color: #0065FC;
        padding: 1em;
        border-radius: 15px;
    }
    ul.filtres-liste {
        padding: 0;
    }
    ul.filtres-liste > li {
        margin-bottom: 1em;
    }

    .titre-en-padding {
        padding-left: 0;
    }
    .hebergements {
        height: auto;
        background-color: white;
    }
    .offres {
        margin-top: 1em;
    }
    .offre-hotel { 
        width: 100%;
        margin-bottom: 1em;
    }
    .image-hebergements {
        height: 8em;
    }
    #afficher-plus {
        padding-left: 0;
    }
    
    .populaires {
        height: auto;
        border-radius: 0px;
        margin-left: -2em;
        margin-right: -2em;
    }
    .offres2 {
        height: auto;
        justify-content: center;
    }
    .offre-hotel-2 { 
        width: 80%;
        margin-bottom: 1em;
    }
    .image-populaires {
        height: 8em;
    }
    #populaires {
        padding-left: 10%;
    }
    
    .activites {
        height: auto;
    }
    .fiches {
        flex-direction: column;
    }
    .column-grand {
        width: 100%;
        margin-bottom: 1em;
    }
    .column-petit {
        width: 100%;
        
    } 
    .fiche-grand { 
        height: 100%;
        margin-top: auto;
    }
    .fiche-petit {
        height: auto;
        padding-bottom: 0;
        margin-bottom: 1em;
    }
    .image-activite {
        height: 8em;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}

